<h1>Livescores</h1>
<ng-container *ngIf="currLeague | async as league">
  <!-- <pre>{{ league | json }}</pre> -->
  <i class="material-icons">sports_soccer</i>
</ng-container>
<footer [ngStyle]="{'position': 'fixed', 'bottom': '0', 'left': '0', 'right': '0', 'backgroundColor': '#555'}">
  <ng-container *ngIf="currLeagueTeams | async as teams">
    <div class="footer__teams" [ngStyle]="{'display': 'flex'}">
      <div *ngFor="let team of teams" [ngStyle]="{
        'height': '40px', 
        'width': 'calc(100% / 20)',
        'padding': '10px 5px' 
      }">
        <a [ngStyle]="{
              'background': 'url(' + team.crestUrl + ') center center/contain no-repeat', 
              'display': 'block',
              'height': '100%'
            }">
        </a>
      </div>
    </div>
  </ng-container>
</footer>